# local desktop/container junk
designs/.Trash-1000/
designs/.config/
designs/.jupyter/
designs/glayout-venv/
glayout-venv/

# editor backup files
*.save
*~
.vscode/
.cursor/
.DS_Store

# Python junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# local environment variables
.env

# simulation / generated junk
*.raw
*.log
*.net
*.lyrdb
*.gds.backup
designs/simulations/

# temp files
temp/

# devcontainer / local tools
.devcontainer/
tools/
context/
